body{
    background-color: #07070C;
    color: white;
    font-family: "Sora", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    padding: 3rem 11rem;
}

.container{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
}

.ovl{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #07070C 65%, #07070c14 100%);
    border-radius: 10px;
    z-index: 1;
}

.container-text{
    width: 58%;
    padding: 4rem 0;
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    animation: fadeUp 0.6s ease-in-out;
}

.container-text h1{
    font-size: 57px;
    font-weight: 500;
    background-image: linear-gradient(135deg, #B380FF, #7AF0FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.container-text p{
    font-size: 1.2rem;
    width: 90%;
    margin: 30px 0;
}

.container-text span{
    font-weight: 300;
    font-size: 35px;
    background-image: linear-gradient(135deg, #B380FF, #7AF0FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-button button{
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(135deg, #B380FF,#7AF0FF);
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.container-button button:hover{
    opacity: .5;
}

.container-image{
    position: relative;
    z-index: -2;
    width: 35%;
    background-image: url(/assets/images/main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
    animation: scale 0.6s ease;
}


@keyframes scale {
    0%{
        transform: scale(0.8);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeUp {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}