

#rocket{
    all: unset;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

main{
    background-image: url(/assets/images/back3.svg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    padding: 8rem 11rem;
}

.container {
    display: flex;
    position: relative;
    overflow: hidden;
}


.ovl{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #030014 65%, #0300140f 100%);
    border-radius: 10px;
}

.container-text{
    padding: 4rem 0;
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    animation: fadeUp 1s ease-in-out;
}

.container-text h1{
    font-size: 4.5rem;
    font-weight: 600;
}

.container-text p{
    font-size: 1.2rem;
    margin: 20px auto 100px auto;
    color: rgb(145 142 160);
    max-width: 500px;
}

.container-text span{
    font-weight: 300;
    font-size: 35px;
}

.container-button{
    display: flex;
    margin: auto;
}

.container-button button{
    cursor: pointer;
    color: white;
    padding: 12px 28px;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px -3px 10px 0px #00000040 inset;
    background: linear-gradient(180deg, #73deee -11.11%, #4c25ed 100%);
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.container-button button:hover{
    opacity: .8;
}


@keyframes scale {
    0%{
        transform: scale(0.8);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeUp {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}