@media (max-width:1350px) {
    header {
        padding: 0.5rem 8rem;
    }

    main {
        padding: 9rem 8rem;
    }

    /* section icons */

    .background-section {
        padding: 3rem 8rem;
    }

    .section-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .text-section h2 {
        font-size: 35px;
    }

    /* section tech */

    .technologies {
        padding: 1rem 8rem;
    }

    .back{
        flex-direction: column;
        gap: 10px;
        padding: 2.5rem 1rem;
    }

    .text-description {
        max-width: 80%;
        gap: 20px;
        margin-bottom: 30px;
        padding: 0;
        text-align: center;
    }
}

@media (max-width:999px){

    header {
        padding: 0.5rem 5rem;
    }

    main {
        padding: 9rem 5rem;
    }

    .container-text h1 {
        font-size: 3rem;
        font-weight: 600;
    }

    .background-section {
        padding: 3rem 5rem;
    }

    .section-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .description-section {
        gap: 10px;
        width: 450px;
        height: 330px;
    }

    .text-section h2 {
        text-align: center;
    }


    /* section tech */

     .technologies {
        padding: 1rem 5rem;
    }

    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 50px;
    }

     .card {
        width: 100%;        /* usa porcentagem da tela */
        max-width: 600px;  /* limite máximo */
        height: auto;
    }
}

@media (max-width: 800px){
    header {
        padding: 0.5rem 2.5rem;
        justify-content: center;
    }

    nav{
        display: none;
    }

     .technologies {
        padding: 1rem 2.5rem;
    }
    .card {
        width: 100%;
        max-width: 480px;
    }
}

@media (max-width: 600px){

    main {
        padding: 9rem 1.5rem;
    }

    .container-text h1 {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .container-text p {
        font-size: 1rem;
        margin-bottom: 50px;
    }

    .container-button button {
        padding: 8px 20px;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .background-section {
        padding: 3rem 1.5rem;
    }

    .section-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .description-section {
        width: 300px;
        height: 390px;
    }

    .text-section h2 {
        font-size: 25px;
        text-align: center;
    }

    /* section tech */


    .technologies {
        padding: 1rem 1.5rem;
    }

    .card {
        width: 100%;
        max-width: 320px;
    }
}