.technologies{
    border: 1px solid red;
    padding: 0rem 11rem;
}

.back{
    height: 500px;
    width: 100%;
    background-image: url(/assets/images/main.png);
    background-repeat: no-repeat;
    background-position: center;
}